/* CSS declarations go here */
body{
    position: relative;
    background-image: url(pool_table.png);
    background-repeat: repeat;
    background-color: green;
}

.container-fluid{
    max-width: 1200px;
    margin: 0 auto;
}

.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #000000;
    opacity: .4;
    z-index: 1;
}

.well{
    background-color: white;
    margin: 0px;
}

.ws-background{
    background-color: whitesmoke;
}

.navbar .brand {
    color: black;
    float: right;
    direction: rtl;
}

.margin-tb-10{
	margin: 10px 0px;
}

#btn-group-margin{
	margin-left: 100px;
}

#selected-party{
    font-size: 24px;
}

.party-btn-margin{
	margin-right: 50px;
}

.text-color-white{
    color: white;
}

#video-iframe{
    width: 100% !important; 
    height: 318px;
}

#map_canvas{
    width:100%; 
    height:400px;
}