<head>
	<title>Vote for Pakistan in Elections 2013</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width" />
</head>
<body>
	<div id="fb-root"></div>
  {{> page}}
</body>

<template name="page">	
	<div class="container-fluid">
		<div class="navbar">
		  <div class="navbar-inner">
		    <a href="javascript:void(0)" class="brand">انتخابات میں پاکستان کے حق میں ووٹ دیں</a>
		    {{#if currentUser}}
		    	<ul class="nav pull-left">
		    		<li class="dropdown">
		    		   <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
		    		     Welcome, {{currentUser.profile.name}}
		    		     <b class="caret"></b>
		    		   </a>
		    		   <ul class="dropdown-menu">
		    		    <li><a id="signout" href="javascript:void(0)">Signout</a></li>
		    		   </ul>
		    	</ul>
		    {{/if}}
	  </div>
	</div>

		<div class="row-fluid">
			<div class="span12">
				{{> userInfo}}
				{{> map}}
				{{> postVote}}
				{{> footer}}
			</div>
		</div>
	</div>	

</template>

<template name="userInfo">
	{{#constant}}
	<div class="row-fluid">
		<div class="span12 well">
			<div class="span6">
				<p>
					<iframe id="video-iframe" src="http://www.facebook.com/video/embed?video_id=708341890378"  frameborder="0"></iframe>
				</p>
			</div>
			<div class="span6" >
				<div style="direction:rtl;">
				<h2>ایمانداری کے ساتھ ووٹ دیں</h2>
				<h3>اب یا کبھی نہیں </h3>
				</div>
				<h4>Are we to live or perish for ever?</h4>
				<blockquote>
					Nations never gave Mandates to their representatives to barter away their very souls; and men of conscience never accept such self-annihilating Mandates, even if given, much less execute them.<br/>
					The leaders' policy has throughout been defeatist in spirit, nerveless in action, and subservient in attitude. They have all along been paralysed with dishonesty, fear, and doubt, and have, time and again, sacrificed their own political principles and our national patrimony for the sake of sheer opportunism and sordid careerism. To do so even at this fateful juncture is a policy of betrayal. It will be fatal for. us not to look this tragic truth in the face; for the tighter we shut our eyes, the harder that truth will hit us
				</blockquote>
				<h5>Choudhry Rahmat Ali, 1933</h5>
			</div>
			<div class="row-fluid">
				<div class="span12">
					<div class="span6 offset5">
						<span class="pull-left">
							<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FVoteForPakistan2013&amp;send=false&amp;layout=box_count&amp;width=150&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=90&amp;appId=370064349767636" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:60px; height:65px;" allowTransparency="true"></iframe>
						</span>
						<span class="pull-left">
							<iframe id="tweet-button" allowtransparency="true" frameborder="0" scrolling="no"
				        src="https://platform.twitter.com/widgets/tweet_button.html?count=vertical&amp;url=http%3A%2F%2Fwww.voteforpakistan.org&amp;hashtags=voteforpakistan&amp;related=voteforpak&amp;text=I%20pledged%20my%20vote%20in%20Pak%20Elections%202013.%20Pledge%20your%20vote%20too at "
				        style="width:60px; height:65px;"></iframe>
			      </span>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{/constant}}
	{{#if session "showErrorDialog"}}	
			{{> errorDialog}}
		{{/if}}
	{{#if currentUser}}
		{{#if session "showPartyDialog"}}	
			{{> partyDialog}}
		{{/if}}
		{{#if session "showConfirmDialog"}}	
			{{> confirmDialog}}
		{{/if}}
		{{> selectedParty}}
	{{else}}
	<div class="row-fluid ws-background">
		<div class="span6 offset3" style="padding: 15px">
			<button id="login" class="btn btn-block btn-large btn-info"><strong>Pledge your Vote using Facebook</strong></button>
		</div>
	</div>
	{{/if}}
</template>

<template name="map">
	<div class="well">
			<ul>
				<li><strong>To select Your Location, Double Click on the Map</strong></li>
				<li><strong>For Zoom, Select the Slider on left</strong></li>
			</ul>
		{{#constant}}
				<div id="map_canvas"></div>		
		{{/constant}}
	</div>
</template>

<template name="partyDialog">
	<div class="mask"></div>
	<!-- Modal -->
	<div id="partyModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="partyModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    <h3 id="partyModalLabel">Choose your Party</h3>
	  </div>
	  <div class="modal-body">
	    <div id="btn-group-margin" class="btn-group" data-toggle="buttons-radio">
	      <button type="button" class="btn btn-large party-btn party-btn-margin btn-success">PTI</button>
	      <button type="button" class="btn btn-large party-btn party-btn-margin btn-info">PMLN</button>
	      <button type="button" class="btn btn-large party-btn party-btn-margin btn-danger">PPP</button>
	    </div>
	    <div class="well margin-tb-10 ws-background">
	    	<div>
	    		<strong>Chosen Party</strong>: <span id="selected-party">{{session "selectedParty"}}</span> 
	    	</div>
	    </div>
	  </div>
	  <div class="modal-footer">
	    <button id="partyDialogDone" class="btn btn-primary">Done</button>
	  </div>
	</div>
</template>

<template name="confirmDialog">
	<div class="mask"></div>
	<!-- Modal -->
	<div id="partyModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="partyModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    <h3 id="partyModalLabel">Are Your Sure to Submit Your Vote ?</h3>
	  </div>
	  <div class="modal-body">
	    <p>Once, you submit your Vote, it will be your Only and Final Entry. You will no longer be able to Edit the Details and Resubmit it</p>
<!-- 	    <div>
	    	<p>
	    		<label class="checkbox">
  		      <input id="fb-share" type="checkbox" checked> Share your Vote Explicitly on Facebook
  		    </label>
	    	</p>
	    </div> -->
	  </div>
	  <div class="modal-footer">
	    <button id="cancel" class="btn">Cancel</button>
	    <button id="done" class="btn btn-primary">Submit</button>
	  </div>
	</div>
</template>

<template name="errorDialog">
	<div class="mask"></div>
	<!-- Modal -->
	<div id="errorModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    <h3 id="errorModalLabel">Something Went Wrong !</h3>
	  </div>
	  <div class="modal-body">
	  	<div class="alert alert-box alert-error">
	  		There was an error while processing your request. Please, try again.
	  	</div>
	  </div>
	  <div class="modal-footer">
	    <button id="error-dialog-ok" class="btn btn-primary">Ok</button>
	  </div>
	</div>
</template>

<template name="selectedParty">
	<div class="well ws-background">
		{{> errors}}
		<div class="clearfix">
			<div class="pull-left">
				Chosen Party: <strong id="selected-party">{{session "selectedParty"}}</strong> 
			</div>
			<div class="pull-right">
				{{#unless session "voter" }}
					<button id="launchPartyDialog" type="button" class="btn">Change Party</button>
				{{/unless}}
			</div>
		</div>
	<div>
</template>

<template name="postVote">
	{{#if currentUser}}
		{{#unless session "voter" }}
		<div class="row-fluid ws-background">
			<div class=" span6 offset3" style="padding:15px">
				<button class="btn btn-large btn-block btn-success" type="button"><strong>Submit My Vote</strong></button>
			</div>
		</div>
		{{/unless}}
	{{/if}}
</template>

<template name="errors">
	{{#if exists}}
		<div class="alert alert-box alert-error">
			<h3>
				<div>{{noPartyMsg}}</div>
				<div>{{noCoords}}</div>
				<div>{{noVote}}</div>
			</h3>
		</div>
	{{else}}
		<div class="alert alert-box alert-success">
			<strong>You have Pledged your Vote</strong>
		</div>
	{{/if}}
</template>

<template name="footer">
	<div class="row-fluid">
		<div class=" span12 well" style="margin-top: 10px">
			<div class="span4">
				<h3>About</h3>
				<p>The article <a href="http://www.theatlantic.com/technology/archive/2012/11/when-the-nerds-go-marching-in/265325/">When the Nerds Go Marching In </a> got me inspired and final push was by <a href="http://twitter.com/saadbassi">my brother</a>. So, I built this for Pakistani Voters who are also Faebook users. I hope that it pushes people to get out on Elections Day and Vote for their Party or Show Disbelief in the System/Candidates by Nulling Out their Vote. <br/><b>Pakistan Zindabad</b></p>
				<div>
					<p>Built with ❤ for Pakistan by Umair Bussi</p>
					<a href="http://twitter.com/engineerhead" title="Twitter" target="_blank"><img src="Twitter.png" alt="Twitter" /></a>
					<a href="http://facebook.com/umairbussi" title="Facebook" target="_blank"><img src="Facebook.png" alt="Facebook" /></a>
				</div>
				
			</div>
			<div class="span4">
				<h3>Feedback</h3>
				<p>Your suggestions and feedback can be submittted using</p>
				<a class="btn btn-info" href="https://voteforpk.uservoice.com/forums/193992-general">User Voice</a>
			</div>
			<div class="span4">
				<h3>Credits</h3>
				<ul>
					<li><a href="http://facebook.com/pakistanvotes">Pakistan Votes</a></li>
					<li><a href="http://meteor.com">Meteor</a></li>
					<li><a href="http://appfog.com">AppFog</a></li>
					<li><a href="http://mongohq.com">MongoHQ</a></li>
					<li><a href="http://www.icons-land.com">Icons Land</a></li>
				</ul>
			</div>
		</div>
	</div>
</template>